        h1 {
            text-align: center;
        }
        .showing {
            color: #555;
        }
        .filtering {
            color: #777;
            background-color: #eee;
        }
